#loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: #979fd0;
  -webkit-animation: 1.5s spin infinite linear;
  animation: 1.5s spin infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
